.section {
    color: #494c4e;
    font-family: Lato, Lucida Sans Unicode, Lucida Grande, sans-serif;
}

.d2l-typography {
    color: var(--d2l-color-ferrite);
    display: block;
    font-family: Lato, Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size: .95rem;
    font-weight: 400;
    letter-spacing: .01rem;
    line-height: 1.4rem;
}

.section h1, h2, h3, h4, h5, h6 {
    color: rgb(0, 97, 149);
    text-align: center;
    font-weight: 700;
}

.panel img {
    width: 120px;
    height: 120px;
}

.panel-heading.terms-heading {
    background: linear-gradient(to right, #1f376a  10%, #005A9C 40%, #4682B4 80%);
    border-bottom: 1px solid #ddd;
    color: white;
}

.btn-activate {
    border-radius: 20px !important;
    background-color: #17a687;
    color: white;
    line-height: 2 !important;
    width: fit-content;
    font-weight: 700 !important;
    padding: 7px 11px 7px 11px;
    font-size: 16px !important;
}

.d2l-typography .d2l-heading-1 {
    font-size: 2rem !important;
    font-weight: 400 !important;
    line-height: 2.4rem !important;
    margin: 1.5rem 0 1.5rem 0 !important;
}

.splash-content header {
    color: #fff;
    font-weight: 900;
    font-size: 2.925em;
    margin-bottom: 3%;
    text-shadow: 2px 3px 0px #898999;
}

section > div.row {
    margin-left: 0px;
    margin-right: 0px;
}

section h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.container {
    padding: 0;
    margin: 5px auto;
}

.panel{
    border: none;
    box-shadow: none !important;
}

.panel-blue {
    background-color: #1f376a !important;
    color: white !important;
}

.panel-body.terms-body {
    padding-top: 5px !important;
}

.agree {
    margin-bottom: 0 !important;
}

.mb30 { 
    margin-bottom: 30px; 
}

.terms {
    color: #f37067;
}

.myvideos {
    color: #1f376a;
}

.d2l-typography .d2l-htmlblock h4 {
    font-size: 1.5em;
    line-height: 27px;
    margin: 19.92px 0;
    font-weight: 700;
}

#modalIcon {
    padding-bottom: 1%;
}

.d2l-dialog-flex {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden !important;
    position: absolute;
    width: 100% !important;
}

.d2l-dialog-title {
    align-self: flex-start;
    margin: -.25rem .25rem .25rem 0;
    position: relative;
    width: 100%;
}

.d2l-dialog-body {
    -webkit-overflow-scrolling: touch;
    flex-grow: 2;
    overflow: auto;
    position: relative;
}

.d2l-textblock {
    margin-bottom: 0;
    word-wrap: break-word;
}
